
<suite name="Suite">
	<groups>
		<run>
			<include name = "smoke"/>
		</run>
	</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.testscript.ProjectModule"/>
      <class name="com.actitime.testscript.ReportModule"/>
      <class name="com.actitime.testscript.CustomerModule"/>
    </classes>
  </test> 
</suite> 
